<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section>
        <div class="intro-products">
          <h2>
            Es hora de tomar un break
            <i class="far fa-smile-wink"></i>
          </h2>
          <h3>y sumar otro producto al catálogo.</h3>
        </div>
      </section>

      <section class="container">
        <form
          action="/products/create"
          method="POST"
          enctype="multipart/form-data"
          class="register-form-container"
        >
          <div class="register-inputs-text">
            <div class="form-row">
              <label for="name">Nombre del Café: </label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Ingresa el nombre del café"
                class="input-text"
                required
              />
            </div>
            <div class="form-row">
              <label for="description">Descripción del café:</label>
              <input
                type="textarea"
                name="description"
                id="description"
                placeholder="Ingresa aquí la descrición del café"
                class="input-text"
                required
              />
            </div>
            <div class="form-row">
              <label for="price">Precio del Café: </label>
              <input
                type="number"
                name="price"
                id="price"
                placeholder="Ingresa el precio del café"
                class="input-text"
                required
              />
            </div>
            <div class="form-row">
              <input
                class="input-text hidden"
                type="file"
                name="photo"
                id="actual-btn"
                accept=".jpg, .png, .jpeg"
                multiple
                
              />
              <label for="photo">Foto del café:</label>
              <label for="actual-btn" class="file-upload input-text"
                >Elige la foto</label
              >
            </div>
          </div>

          <div class="form-row-buttons">
            <button type="submit" class="input-text">Crear Producto</button>
          </div>
        </form>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
