<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/36e5dd7a28.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-nav">
        <i class="fas fa-bars icon"></i>

        <a href="/" class="logo"
          ><i class="icon fas fa-file-code"></i> Coffee Break</a
        >

        <div class="header-nav-right">
          <div class="header-nav-right-dkt">
            <div class="header-nav-bar">
              <a href="/login">Ingresa</a>
              <a href="/register">Crea tu cuenta</a>
              <a href="/catalogo">Nuestros Cafés</a>
            </div>
            <div class="header-nav-search-bar">
              <input type="search" name="search" id="search" />
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="header-nav-right-icons">
            <a href="/shopping-cart"><i class="icon fas fa-shopping-cart"></i> </a>

            <i class="fab fa-instagram icon"></i>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section>
        <div class="main-hero">
          <div class="main-box">
            <h3>Deploy de café a domicilio.</h3>
            <h1>
              Café para desarrolladores,<br>el break que necesitas<br>deployado en la puerta de tu hogar.
            </h1>

            <a href="/catalogo" class="btn">Quiero mi café</a>

          </div>
        </div>
      </section>

      <section>
        <div class="quiz">
          <h3>¿Cuál es tu café ideal?</h3>
          <div class="select">
            <select>
              <option disabled selected>Selecciona una opción...</option>
              <option value="Option 1">Cortito pero intenso</option>
              <option value="Option 2">Americano</option>
              <option value="Option 3">Latte</option>
            </select>
            <button type="submit" class="submit-quiz">
              Enviar</button>      
            </div>
        </div>
      </section>

      <section>
        <h2 class="product-title">Nuestros lenguajes de café</h2>
        <div class="product-products">
          <article class="product-box">
            <div class="product-box-image">
              <img src="img/producthtmltwhite.png"/>
            </div>
            <div class="product-box-info">
              <i class="fab fa-css3-alt"></i>
              <h2>Café HTML + CSS</h2>
              <h3>$99.99</h3>
              <a href="/producto" class="btn-product">agregar al carrito</a>
            </div>
          </article>

          <article class="product-box">
            <div class="product-box-image">
              <img src="/img/productjavascriptwhite.png"/>
            </div>
            <div class="product-box-info">
              <i class="fab fa-js"></i>
              <h2>Café Javascript</h2>
              <h3>$99.99</h3>
              <a href="/producto" class="btn-product">agregar al carrito</a>
            </div>
          </article>

          <article class="product-box">
            <div class="product-box-image">
              <img src="img/productnodewhite.png" />
            </div>
            <div class="product-box-info">
              <i class="fab fa-node"></i>
              <h2>Café Node.js</h2>
              <h3>$99.99</h3>
              <a href="/producto" class="btn-product">agregar al carrito</a>
            </div>
          </article>
        </div>
      </section>

      <section class="how">
        <h2>¿Cómo funciona?</h2>
        <div class="how-explenaition">
          <div class="step">
            <i class="icon-how fas fa-mug-hot"></i>
            <h5>Elige tu café</h5>
            <p class="explainer">
              Elige tu lenguaje de café ideal para tu break
            </p>
          </div>
          <div class="step">
            <i class="icon-how fas fa-cart-arrow-down"></i>
            <h5>Agregalo al carrito</h5>
            <p class="explainer">
              Elige la suscripción que quieras y finaliza tu compra
            </p>
          </div>
          <div class="step">
            <i class="icon-how fas fa-home"></i>
            <h5>Recibe el café en tu casa</h5>
            <p class="explainer">
              listo! recibiras en la puerta de tu casa el café que necesitas
              para seguir codeando
            </p>
          </div>
        </div>
      </section>

     
      <section>
        <div class="reason-why">
          <img src = "img/man-testimonial1.png">
          <p>
            "Como desarrollador, para mi, el café es todo. Es un momento, un descanso para parar, pensar con mas claridad y volver a codear.<br />Muchas veces ese
            break puede significar la resolución de un problema en el que
            estuvimos atrapados por horas"
          </p>
          <h3>"El café no sólo es una bebida...<br>es un break (br)."</h3>
          <p>Chino Veronese, Serial Developer</p>
        </div>
        <div>
          <div class="cta-img">
            <p class="tagline">
              Somos desarrolladores<br />haciendo café para desarrolladores.
            </p>
            <a href="/catalogo" class="btn">Quiero mi café</a>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-block">
        <nav class="footer-nav">
          <a href="">Terminos y Condiciones</a>
          <a href="">Políticas de Privacidad</a>
        </nav>
        <p>
          Coffee Break<i class="far fa-registered"></i> 2021. Todos los derechos
          reservados.
        </p>
      </div>
    </footer>
  </body>
</html>
