<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/36e5dd7a28.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-nav">
        <i class="fas fa-bars icon"></i>

        <a href="/" class="logo"
          ><i class="icon fas fa-file-code"></i> Coffee Break</a
        >

        <div class="header-nav-right">
          <div class="header-nav-right-dkt">
            <div class="header-nav-bar">
              <a href="/login">Ingresa</a>
              <a href="/catalogo">Nuestros Cafés</a>
              <a href="/register">Crea tu cuenta</a>
            </div>
            <div class="header-nav-search-bar">
              <input type="search" name="search" id="search" />
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="header-nav-right-icons">
            <i class="icon fas fa-shopping-cart"></i>

            <i class="fab fa-instagram icon"></i>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section>
        <section>
          <div>
            <div class="intro-products">
              <h1>
                Es hora de tomar un break
                <i class="far fa-smile-wink"></i>
              </h1>
              
            </div>
          </div>

        </section>

        <section>
        <nav class="product-filter">

          <h2>Elige el lenguaje de café que quieras</h2>
        
          <div class="sort">
        
            <div class="collection-sort">
              <label>Filter by:</label>
              <select>
                <option value="/">Todos los cafés</option>
                <option value="/">HTML</option>
                <option value="/">Javascript</option>
                <option value="/">Node</option>
                <option value="/">JAVA</option>
                <option value="/">python</option>
                <option value="/">PHP</option>
              </select>
            </div>
        
            <div class="collection-sort">
              <label>Sort by:</label>
              <select>
                <option value="/">Recomendados</option>
                <option value="/">Suave</option>
                <option value="/">Intenso</option>
                <option value="/">Moderado</option>
              </select>
            </div>
        
          </div>
        
        </nav>
      </section>

      <section>
        <div class="product-products">
          <article class="product-box">
            <div class="product-box-image">
              <img src="img/producthtmltwhite.png"/>
            </div>
            <div class="product-box-info">
              <i class="fab fa-css3-alt"></i>
              <h2 class="product-title">Café HTML + CSS</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
              <h3>$99.99</h3>
              <a href="#" class="btn-product">agregar al carrito</a>
            </div>
          </article>

          <article class="product-box">
            <div class="product-box-image">
              <img src="/img/productjavascriptwhite.png" />
            </div>
            <div class="product-box-info">
              <i class="fab fa-js"></i>
              <h2 class="product-title">Café Javascript</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
              <h3>$99.99</h3>
              <a href="#" class="btn-product">agregar al carrito</a>
            </div>
          </article>

          <article class="product-box">
            <div class="product-box-image">
              <img src="img/productnodewhite.png" />
            </div>
            <div class="product-box-info">
              <i class="fab fa-node"></i>
              <h2 class="product-title">Café Node.js</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
              <h3>$99.99</h3>
              <a href="#" class="btn-product">agregar al carrito</a>
            </div>
          </article>

          <article class="product-box">
            <div class="product-box-image">
              <img src="img/productpythonwhite.png" />
            </div>
            <div class="product-box-info">
              <i class="fab fa-python"></i>
              <h2 class="product-title">Café python</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
              <h3>$99.99</h3>
              <a href="#" class="btn-product">agregar al carrito</a>
            </div>
          </article>

          <article class="product-box">
            <div class="product-box-image">
              <img src="img/productjavawhite.png" />
            </div>
            <div class="product-box-info">
              <i class="fab fa-java"></i>
              <h2 class="product-title">Café Java</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
              <h3>$99.99</h3>
              <a href="#" class="btn-product">agregar al carrito</a>
            </div>
          </article>

          <article class="product-box">
            <div class="product-box-image">
              <img src="img/productphpwhite.png" />
            </div>
            <div class="product-box-info">
              <i class="fab fa-php"></i>
              <h2 class="product-title">Café PHP</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.</p>
              <h3>$99.99</h3>
              <a href="#" class="btn-product">agregar al carrito</a>
            </div>
          </article>
        </div>
      </section>
        <section>
          <div class="quiz">
            <h3>¿Qué tipo de persona café eres?</h3>
            <div class="select">
              <select>
                <option value="Option 1">Cortito pero intenso</option>
                <option value="Option 2">Americano</option>
                <option value="Option 3">Latte</option>
              </select>
              <a href="#" class="btn-quiz">enviar</a>
            </div>
          </div>
        </section> 
      <section>
        <div>
          <div class="cta-img">
            <p class="tagline">
              Somos desarrolladores<br />haciendo café para desarrolladores.
            </p>
            <a href="" class="btn">Quiero mi café</a>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-block">
        <nav class="footer-nav">
          <a href="">Terminos y Condiciones</a>
          <a href="">Políticas de Privacidad</a>
        </nav>
        <p>
          Coffee Break<i class="far fa-registered"></i> 2021. Todos los derechos
          reservados.
        </p>
      </div>
    </footer>
  </body>
</html>
