<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/36e5dd7a28.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/img/font/flaticon.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-nav">
        <i class="fas fa-bars icon"></i>

        <a href="/" class="logo"
          ><i class="icon fas fa-file-code"></i> Coffee Break</a
        >

        <div class="header-nav-right">
          <div class="header-nav-right-dkt">
            <div class="header-nav-bar">
              <a href="/login">Ingresa</a>
              <a href="/register">Crea tu cuenta</a>
              <a href="/catalogo">Nuestros Cafés</a>
            </div>
            <div class="header-nav-search-bar">
              <input type="search" name="search" id="search" />
              <button type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="header-nav-right-icons">
            <i class="icon fas fa-shopping-cart"></i>

            <i class="fab fa-instagram icon"></i>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="conteiner-main-pd">
        <div class="breadcrumb-list-pd">
          <p>Café > HTML + CSS</p>
        </div>

        <div class="desktop-product-container-pd">
          <section class="product-conteiner-pd">
            <div class="product-image-pd">
              <img src="/img/producthtmltwhite.png" alt="html css coffee" />
            </div>
          </section>
          <section class="form-container-pd">
            <div class="product-description-pd">
              <div class="product-title-pd">
                <i class="fab fa-html5"></i>
                <h2>HTML + CSS</h2>
              </div>
              <div class="product-details-pd">
                <h3>Café con estructura y estilo</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad
                  animi harum tenetur iusto sunt distinctio facere illo, eius,
                  suscipit, velit earum quidem est quas maiores vitae?
                  Perspiciatis voluptatibus veritatis doloremque?
                </p>
                <h3>$99.99/kg</h3>
              </div>
            </div>
            <form action="" method="POST" class="form-pd">
              <div class="product-quantity-pd">
                <h3 class="quantity-label-pd">Cantidad</h3>
                <div action="" class="quantity-options-pd">
                  <input
                    type="radio"
                    name="quantity"
                    value="weight1"
                    id="weight1"
                  />
                  <label for="weight1">
                    <i class="fas fa-weight-hanging weight1"></i>
                    <p class="weight">250 gr</p>
                  </label>
                  <input
                    type="radio"
                    name="quantity"
                    value="weight2"
                    id="weight2"
                    checked
                  />
                  <label for="weight2">
                    <i class="fas fa-weight-hanging weight2"></i>
                    <p class="weight">500 gr</p>
                  </label>
                  <input
                    type="radio"
                    name="quantity"
                    value="weight3"
                    id="weight3"
                  />
                  <label for="weight3">
                    <i class="fas fa-weight-hanging weight3"></i>
                    <p class="weight">1 Kg</p>
                  </label>
                </div>
              </div>
              <div class="product-grind-pd">
                <h3 class="grind-label-pd">Molienda</h3>
                <div class="grind-options-pd">
                  <input
                    type="radio"
                    name="grind"
                    value="beans"
                    id="beans"
                    checked
                  />
                  <label for="beans">
                    <i class="flaticon-coffee-beans"></i>
                    <p class="beans">En grano</p>
                  </label>
                  <input
                    type="radio"
                    name="grind"
                    value="portafilter"
                    id="portafilter"
                  />
                  <label for="portafilter">
                    <i class="flaticon-portafilter"></i>
                    <p class="weight">Express</p>
                  </label>
                  <input
                    type="radio"
                    name="grind"
                    value="moka-pot"
                    id="moka-pot"
                  />
                  <label for="moka-pot">
                    <i class="flaticon-moka-pot"></i>
                    <p class="weight">Italiana</p>
                  </label>
                  <input
                    type="radio"
                    name="grind"
                    value="coffee-maker"
                    id="coffee-maker"
                  />
                  <label for="coffee-maker">
                    <i class="flaticon-coffee-maker"></i>
                    <p class="weight">Cafetera</p>
                  </label>
                  <input
                    type="radio"
                    name="grind"
                    value="french-press"
                    id="french-press"
                  />
                  <label for="french-press">
                    <i class="flaticon-french-press"></i>
                    <p class="weight">Prensa<br />Francesa</p>
                  </label>
                  <input type="radio" name="grind" value="filter" id="filter" />
                  <label for="filter">
                    <i class="flaticon-filter"></i>
                    <p class="weight">Filtro</p>
                  </label>
                </div>
              </div>
              <div class="suscription-banner-pd">
                <div class="upper-section">
                  <i class="fas fa-truck"></i>
                  <div>
                    <h3>Suscripción</h3>
                    <p>
                      Ahorrá un 30% en el primer kilo y recibí el mejor Café
                      todos los meses en la puerta de tu casa
                    </p>
                  </div>
                </div>
                <a href="#" class="suscription-button-pd"> SUSCRIBIRME </a>
              </div>
              <div class="add-to-cart-buttom-conteiner-pd">
                <button type="submit" class="add-to-cart-buttom-pd">
                  AGREGAR AL CARRITO <i class="fas fa-cart-plus"></i>
                </button>
              </div>
            </form>
          </section>
        </div>
        <img src="/img/reason3-crop-.jpeg" alt="" class="main-img1" />
        <section class="conteiner-other-options">
          <div class="other-options-pd">
            <h3>Otras opciones</h3>
            <div class="product-products">
              <article class="product-box">
                <div class="product-box-image">
                  <img src="img/productpythonwhite.png" />
                </div>
                <div class="product-box-info">
                  <i class="fab fa-python"></i>
                  <h2 class="product-title">Café python</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquid ex ea commodi consequat.
                  </p>
                  <h3>$99.99</h3>
                  <a href="#" class="btn-product">agregar al carrito</a>
                </div>
              </article>

              <article class="product-box">
                <div class="product-box-image">
                  <img src="/img/productjavascriptwhite.png" />
                </div>
                <div class="product-box-info">
                  <i class="fab fa-js"></i>
                  <h2 class="product-title">Café Javascript</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquid ex ea commodi consequat.
                  </p>
                  <h3>$99.99</h3>
                  <a href="#" class="btn-product">agregar al carrito</a>
                </div>
              </article>

              <article class="product-box">
                <div class="product-box-image">
                  <img src="img/productnodewhite.png" />
                </div>
                <div class="product-box-info">
                  <i class="fab fa-node"></i>
                  <h2 class="product-title">Café Node.js</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquid ex ea commodi consequat.
                  </p>
                  <h3>$99.99</h3>
                  <a href="#" class="btn-product">agregar al carrito</a>
                </div>
              </article>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="footer-block">
        <nav class="footer-nav">
          <a href="">Terminos y Condiciones</a>
          <a href="">Políticas de Privacidad</a>
        </nav>
        <p>
          Coffee Break<i class="far fa-registered"></i> 2021. Todos los derechos
          reservados.
        </p>
      </div>
    </footer>
  </body>
</html>
