<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/header.ejs') %> 

    <main class="container">
      <h2>Pagina no encontrada - Error 404</h2>

      <h3>Puedes ir a...</h3>
      <ul>

        <li><a href="/">Página principal</a></li>
      </ul>
    </main>

    <%- include('./partials/footer.ejs') %> 

  </body>
</html>
