<!DOCTYPE html>
<html lang="en">
  
  <%- include('./partials/head.ejs') %> 

  <body>
    <header>
      <div class="header-nav">
        <i class="fas fa-bars icon"></i>

        <a href="/" class="logo"
        ><i class="icon fas fa-file-code"></i> Coffee Break</a
      >

        <div class="header-nav-right">
          <div class="header-nav-right-dkt">
            <div class="header-nav-bar"></div>
            <div class="header-nav-search-bar"></div>
          </div>
          <div class="header-nav-right-icons">
            
          </div>
        </div>
      </div>
    </header>

    <main class="container">
      <h2>Carrito de Compras</h2>
      <section class="shopping-cart">
        <div class="shopping-cart-items-list">
          <div class="shopping-cart-item">
            <img
              src="img/producthtmltwhite.png"
              class="shopping-cart-item-img"
            />
            <div class="shopping-cart-item-description">
              <h3>Café HTML + CSS</h3>
              <h4>Tamaño: 250grms</h4>
              <h4>Tipo de Molienda: Espresso</h4>
            </div>
            <div class="shopping-cart-item-pq">
              <div class="shopping-cart-item-price">
                <h4>Precio</h4>
                <h3>$12.00</h3>
              </div>
              <div class="shopping-cart-item-quantity">
                <h4>Cantidad</h4>
                <input type="number" name="" id="" maxlength="1" />
              </div>
              
              <div class="shopping-cart-item-trash">
                <a href=""><i class="fas fa-trash"></i> </a>
              </div>
            </div>
          </div>
          <div class="shopping-cart-item">
            <img
              src="img/productnodewhite.png"
              class="shopping-cart-item-img"
            />
            <div class="shopping-cart-item-description">
              <h3>Café Node.js</h3>
              <h4>Tamaño: 250grms</h4>
              <h4>Tipo de Molienda: Espresso</h4>
            </div>
            <div class="shopping-cart-item-pq">
              <div class="shopping-cart-item-price">
                <h4>Precio</h4>
                <h3>$11.00</h3>
              </div>
              <div class="shopping-cart-item-quantity">
                <h4>Cantidad</h4>
                <input type="number" name="" id="" maxlength="1" />
              </div>
              
              <div class="shopping-cart-item-trash">
                <a href=""><i class="fas fa-trash"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="shopping-cart-resume">
          <div class="shopping-cart-shipping">
            <form action="">
              <div class="register-inputs-text">
                <div class="form-row-cart">
                  <label for="country" class="form-row-label-desktop"
                    >Selecciona tu país:</label
                  >
                  <select name="country" id="country" class="input-text" required>
                    <option disabled selected>Selecciona una opción...</option>
                    <option value="esp">España</option>
                    <option value="eng">Inglaterra</option>
                    <option value="fra">Francia</option>
                    <option value="por">Portugal</option>
                    <option value="ita">Italia</option>
                  </select>
                </div>
                <div class="form-row-cart">
                  <label for="state" class="form-row-label-desktop"
                    >Selecciona tu región:</label
                  >
                  <select name="state" id="state" class="input-text" required>
                    <option disabled selected>Selecciona una opción...</option>
                    <option value="reg1">Región</option>
                    <option value="reg2">Región</option>
                    <option value="reg3">Región</option>
                    <option value="reg4">Región</option>
                    <option value="reg5">Región</option>
                  </select>
                </div>
                <div class="form-row-cart">
                  <label for="zip-code" class="form-row-label-desktop"
                    >Código Postal:</label
                  >
                  <input
                    type="text"
                    name="zip-code"
                    id="zip-code"
                    placeholder="C.P. aquí"
                    minlength="5"
                    class="input-text"
                    required
                  />
                </div>
                <div class="form-row-cart">
                  <h4> <a href=""><i class="fas fa-truck"></i> </a> Calcula el costo de tu envío  </h4>
                </div>
              </div>
            </form>
          </div>
          <div class="shopping-cart-taxes">
            <div class="form-row-cart-total">
              <h3>Subtotal</h3>
              <h3>$23.00</h3>
            </div>
            <div class="form-row-cart-total">
              <h3>Impuestos</h3>
              <h3>$1.84</h3>
            </div>
            <div class="form-row-cart-total">
              <h3>Envío</h3>
              <h3>$3.66</h3>
            </div>
            <div class="form-row-cart-total">
              <h3>TOTAL</h3>
              <h3>$28.50</h3>
            </div>


            <button type="submit" class="add-to-cart-buttom-pd">CHECKOUT</button>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-block">
        <nav class="footer-nav">
          <a href="">Terminos y Condiciones</a>
          <a href="">Políticas de Privacidad</a>
        </nav>
        <p>
          Coffee Break<i class="far fa-registered"></i> 2021. Todos los derechos
          reservados.
        </p>
      </div>
    </footer>
  </body>
</html>
