<header>
    <div class="header-nav">
      <i class="fas fa-bars icon"></i>

      <a href="/" class="logo"
        ><i class="icon fas fa-file-code"></i> Coffee Break</a
      >

      <div class="header-nav-right">
        <div class="header-nav-right-dkt">
          <div class="header-nav-bar">
            <a href="/login">Ingresa</a>
            <a href="/register">Crea tu cuenta</a>
            <a href="/catalogo">Nuestros Cafés</a>
          </div>
          <div class="header-nav-search-bar">
            <input type="search" name="search" id="search" />
            <button type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="header-nav-right-icons">
          <a href="/shopping-cart"><i class="icon fas fa-shopping-cart"></i> </a>

          <i class="fab fa-instagram icon"></i>
        </div>
      </div>
    </div>
  </header>