<header>
  <div class="header-nav">
    <div class="header-nav-left">
      <i class="fas fa-bars icon"></i>

      <% if (locals.isLogged === true) { %>
      <ul>
        <li>
          <a href=""
            ><img src="../../img/users/default.png" alt="User Avatar" />
            <!-- <%= locals.userLogged.first_name %> -->
          </a>
          <ul class="dropdown">
            <li><a href="/">Mi cuenta</a></li>
            <li <% if (locals.isAdmin === true) { display=none } %> ><a href="/">Mis compras</a></li>
            <% if (locals.isAdmin === true) { %>
              <li><a href="/">Editar</a></li>

            <% } %>
            <li><a href="/users/logout">Log Out</a></li>
          </ul>
        </li>
      </ul>
      <% } %>

      <a href="/" class="logo"
        ><i class="icon fas fa-file-code"></i> Coffee Break</a
      >
    </div>

    <div class="header-nav-right">
      <div class="header-nav-right-dkt">
        <div class="header-nav-bar">
          <% if (locals.isLogged === false) { %>
          <a href="/users/login">Ingresa</a>
          <a href="/users/register">Crea tu cuenta</a>
          <% } %>
          <a href="/products/catalog">Nuestros Cafés</a>
        </div>
        <div class="header-nav-search-bar">
          <input type="search" name="search" id="search" />
          <button type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div class="header-nav-right-icons">
        <a href="/products/shoppingCart"
          ><i class="icon fas fa-shopping-cart"></i>
        </a>
        <a href=""><i class="fab fa-instagram icon"></i> </a>
      </div>
    </div>
  </div>
</header>
