<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section>
        <div class="intro-products">
          <h2>
            Es hora de tomar un break
            <i class="far fa-smile-wink"></i>
          </h2>
          <h3>e ingresar a tu cuenta...</h3>
        </div>
      </section>

      <section class="container">
        <form
          action="/users/login"
          method="POST"
          class="register-form-container"
        >
          <div class="register-inputs-text">
            <div class="form-row">
              <label for="mail" class="form-row-label-desktop"
                >Nombre de usuari@:</label
              >
              <input
                type="email"
                name="mail"
                id="mail"
                placeholder="Ingresa tu Email"
                class="input-text"
              />
            </div>
            <div class="form-row">
              <label for="password" class="form-row-label-desktop"
                >Contraseña:</label
              >
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Ingresa tu Contraseña"
                class="input-text"
              />
            </div>
          </div>

          <div class="login-checkbox">
            <input
            type="checkbox"
            name="remember-me"
            id="remember-me"
            class=""
            />
            <label for="remember-me" class="">
            Recuerdame
          </label>
        </div>

          <div class="form-row-buttons">
            <button type="submit" class="input-text">Enviar</button>
          </div>
        </form>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
